body {
  margin:0px;
  background-image:url('../../images/match/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:20px;
  width:140px;
  height:66px;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
